# pycharm
.idea/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Spyder project settings
.spyderproject

# Rope project settings
.ropeproject
/generate/
/parse/
/docs/
.tox/
stst.egg-info/
./iclr2016-test/data/